{% extends "base.html" %}
{% block title %}Player Overview{% endblock %}
{% block content %}
    <section class="text-center">
        <h1 class="text-3xl font-bold">Player Overview</h1>
        {% if current_user.is_admin %}
        <!-- Add Question Form -->
        <form 
            hx-post="{{ url_for('user.register_user') }}" 
            hx-target="#user-list" 
            hx-swap="afterbegin"
            hx-on::after-request="setTimeout(() => this.reset(), 50)"
            class="max-w-xl mx-auto mt-6 mb-6 bg-gray-600 p-4 rounded-lg shadow-lg">
        
            <label for="username" class="block text-sm font-medium text-gray-200">
                Player Name:
            </label>
            <input type="text" id="username" name="username" required
                   class="mt-1 block w-full px-3 py-2 bg-gray-700 border 
                   border-gray-600 rounded-md shadow-sm focus:ring-blue-500 
                   focus:border-blue-500 text-white">

            <label for="password" class="block text-sm font-medium text-gray-200 mt-4">
                Password:
            </label>
            <input type="text" id="password" name="password" required
                   class="mt-1 block w-full px-3 py-2 bg-gray-700 border 
                   border-gray-600 rounded-md shadow-sm focus:ring-blue-500 
                   focus:border-blue-500 text-white">

            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 
                text-white font-bold py-2 px-4 rounded mt-4">
                Add Player 
            </button>
        </form>

        <!-- Questions Table -->
        {% include 'partials/user_list.html' %}
        {% else %}
        <h2 class="mt-6 text-xl font-bold">There's nothing to see here</h2>
        {% endif %}
    </section>
{% endblock %}
