<div class="mt-10" id="questions-container">
    <table class="min-w-full bg-gray-900 text-white border border-gray-600 rounded-lg overflow-hidden">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b border-gray-600 text-left w-10">ID</th>
                <th class="py-2 px-4 border-b border-gray-600 text-left">Question</th>
                <th class="py-2 px-4 border-b border-gray-600 text-left">Answer</th>
                <th class="py-2 px-4 border-b border-gray-600 text-center">Actions</th>
            </tr>
        </thead>
        <tbody 
            id="question-list" 
            hx-target="closest tr" 
            hx-swap="outerHTML">
            {% for question in questions %}
                {% include 'partials/question_item.html' %}
            {% endfor %}
        </tbody>
    </table>
    <div class="flex justify-between mt-4">
        {% include 'partials/pagination.html' %}
    </div>
</div>

