<tr 
    hx-trigger="cancel"
    hx-get="{{ url_for('main.show_question', question_id=question.id) }}"
    id="question-{{ question.id }}">
    <td class="py-2 px-4 border-b border-gray-700 text-left w-10">{{ question.id }}</td>
    <td class="py-2 px-4 border-b border-gray-700 text-left">
        <input
            type="text"
            name="question"
            value="{{ question.question }}"
            class="bg-gray-600 text-white w-full border border-gray-500 rounded"
        >
    </td>
    <td class="py-2 px-4 border-b border-gray-700 text-left">
        <input
            type="text"
            name="answer"
            value="{{ question.answer }}"
            class="bg-gray-600 text-white w-full border border-gray-500 rounded"
        >
    </td>
    <td class="py-2 px-4 border-b border-gray-700 text-center">
        <button
            hx-put="{{ url_for('main.update_question', question_id=question.id) }}"
            hx-include="closest tr"
            class="bg-green-400 hover:bg-green-600 text-white font-bold py-2 px-4 rounded"
        >
            Save
        </button>

        <button
            hx-get="{{ url_for('main.show_question', question_id=question.id) }}"
            class="bg-gray-400 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded transition duration-300"
        >
            Cancel
        </button>
    </td>
</tr>
