<tr id="user-{{ user.id }}">
    <td class="py-2 px-4 border-b border-gray-700 text-left w-10">{{ user.id }}</td>
    <td class="py-2 px-4 border-b border-gray-700 text-left">{{ user.username }}</td>
    <td class="py-2 px-4 border-b border-gray-700 text-center">
        <button
            hx-delete="{{ url_for('auth.delete_user', user_id=user.id) }}"
            hx-target="closest tr"
            hx-swap="outerHTML transition:true"
            hx-confirm="Do you want to delete the user?"
            class="danger btn bg-red-400 hover:bg-red-600 text-white font-bold py-2 px-4 rounded transition duration-300"
        >
            Delete
        </button>
    </td>
</tr>
